<h1>Results</h1>

    <div class="result">
    <div class="card-container">
<% @results.each do |result| %>
    <div class="profile-card search">
        <h2><%= link_to result["title"], movie_detail_path(result["id"]) %></h2>
        <div class="poster"><%= image_tag "https://image.tmdb.org/t/p/original#{result['poster_path']}",onerror: "this.style.display='none'"  %></div>
       <%= result["overview"] %>
      <%= result["release_date"] %>
    </div>
<% end %>
