<h1>Other Users</h1>
<% if flash[:success]%>
<div>
    <%= flash[:success] %>
</div>
<% end %>
<div class="card-container">
    <% @users.each do |user| %>
        <div class="profile-card">
              <% if user.profile_pic.attached? %>
                <%= image_tag user.profile_pic, class:"profile-image"%>
            <%else%>
                <%= image_tag user.img, class:"profile-image"%>
            <%end%>
                <p class="name">
            <%= link_to user.name, user_path(user.id) %>
            </p>
        </div>
        <% end%>
</div>