// Place all the styles related to the api controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
img {
    width: 200px;
    height: auto;
}

.profile-card.search {
    width: 450px;
    .poster{
        margin: 10px 0;
        img {
            width: 180px;height: auto;;
        }
    }
}   