// Place all the styles related to the api controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
img {
    width: 200px;
    height: auto;
}

.profile-card.search {
    width: 450px;
    .poster{
        margin: 10px 0;
        img {
            width: 180px;height: auto;;
        }
    }
}   
body > div.main-container > div > div > div.services img {
        color: rgb(46, 46, 46);
        margin: 30px;
        width: 100px;
        height: 100px;
    }

.embed {
    margin: 10px auto;
    text-align: center;
    iframe {
        box-shadow: 5px 8px rgb(43, 41, 41);
        border-radius: 12px;
        border: solid 1px black;
        background:rgb(43, 41, 41);}
}