// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.profile-card.movie {
    width: 750px;
    img{
        width:200px;
        height:auto;
        margin-bottom: 40px;
    }
    h3{
        line-height: 1.2;
    }
    .movie_info {
        margin-top: 10px;
         margin: auto;
    color: rgb(14, 11, 11);
    background-color: rgb(125, 123, 128);
    width: 450px;
    height: auto;
    border: solid 4px  hsl(175, 61%, 7%);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 8px;
    text-align: center;
    line-height: 1.2;
    }
}