// Place all the styles related to the user_movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
ol{ color: white;
    }
.profile-card{
    text-align: left;
.title {
        color: darkred;
        margin: 5px;
        padding: 5px;
}
.rating {
        text-align: center;
        font-size: 22px;
        font-weight: bold;
    } 
.review{
    text-align: center;
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    border-color: black;
    overflow: auto;
    height: 100px;
    width: auto;
    margin: auto;
    text-overflow: ellipsis;
    color: black;
    background-color: white;
    font-style: oblique;
    }
   
}