// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card-container{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    
}


.errors {
    text-align: center;
    list-style: inside;
}
div > div.box.header {
      font-size: 24px;
      color: black;
      font-weight: 600;
  }

  
  .profile-card{
    margin: 20px;
    color: rgb(14, 11, 11);
    background-color: rgb(125, 123, 128);
    width: 150px;
    height: auto;
    border: solid 4px  hsl(175, 61%, 7%);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 8px;
    text-align: center;
    img {
      object-fit: cover;
      box-shadow: 5px 8px;
      height:150px;
      width: 150px;
      border-radius: 12px;
      border: solid 1px black;
      background:rgb(191, 162, 162);
    }
  }
  
  .check_box {
    input[type="checkbox"]{
      display:inline-block;
      width: 20px;
      align-self: center;
    }
    
    align-content: center;
    color: rgb(14, 11, 11);
    background-color: rgb(125, 123, 128);
    width: 260px;
    height: auto;
    border: solid 4px  hsl(175, 61%, 7%);
    
    border-radius: 10px;
    box-shadow: 5px 8px;
    margin: 0 auto;
    display: flexbox;
    flex-flow: wrap;
    padding: 10px 0;
    text-align: right;
    margin-top: 120px;
    
    // width: 700px;
    label{
      margin-left:20px;
      padding: 3px 0;
      display: block;
    font-size: 16px;
     line-height: 1.5;
    width:180px;
  }
  
}
.wrapper{
  margin: 40px auto;
  font-size: 18px;
  width: 550px;
  
  .sidebar {
    grid-area: sidebar;
    display: flex;
    .profile-image {
      border-radius: 10px;
      padding-right: 10px;
    }
    .content {
      flex-wrap: wrap;;
      grid-area: content;
      position: relative;
      width: 250px;
    }
  }
  
  
  .header {
    grid-area: header;
    text-align: center;
    
  }
  
  .footer {
    grid-area: footer;
  }
  
  .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 100px 100px 100px;
    grid-template-areas:
    "header  header  header"
    "sidebar content content"
    "footer  footer  footer";
    background-color: transparent;
    color: #444;
  }
  
  
  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 50px;
    font-size: 18px;
    
  }
  
  .header,
  .footer {
    background-color: #999;
  }
  
  .topleft {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .topright {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .bottomright {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  
  
}

.form_container  {
  height:450px;
  .profile-card {
    
    
    margin: 0px auto;
    padding-top: 30px;
    text-align: left;
    width:440px;
    height: 300px;
    line-height: 2.2rem;
    
    input {
      height: 1.4rem;
    }
    
    textarea {
      height: 85px;
    }
    .submit {
      height: 2rem;
      margin: 15px;
      margin-right: 20%;
      
    }
  }
  input, textarea {
    
    float: right;
    width: 220px;
    border-radius: 5px;
    box-shadow: 1px 1px rgb(126, 124, 124);
    
  }
}

.section-title {
  text-align: center;
  font-size: 2rem;
}
        

body .profile-card.upload{
          height: 360px;
        }