<h1>View Parties that you are part of</h1>
<% @view_parties.each do |e|%>
<div>
    <%= link_to e.name, view_party_path(e) %><br>
    <%= image_tag "#{e.movie.img_url}", size: "20x20", alt: "Missing Movie Image"%>
</div><br>
<%end%>