<h1>Reviewed Movies</h1>
    <ol>
    <%@user_movies.select{|e|e.user == @current_user and e.rating != nil}.each do |um|%>
        <li><%= link_to um.movie.title, movie_detail_path(um.movie.tmdb_id)%>
            <ul>
            <li>Rating: <%= um.rating%></li>
            <li>Review: <p><%= um.review%></li></p>
            </ul>
        </li>
    <%end%>
    </ol>

